name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: "windows-latest"

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release

      - name: Package with CPack
        run: |
          cd build
          cpack -C Release

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/*.zip
            build/*.7z
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}