name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: "windows-latest"
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Dependencies
        uses: ashutoshvarma/setup-ninja@master
        with:
          version: 1.10.0

      - name: Configure CMake
        run: |
          cmake -S . -B build -G "Ninja" `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_C_COMPILER=gcc `
            -DCMAKE_CXX_COMPILER=g++

      - name: Build
        run: cmake --build build --config Release

      - name: Package with CPack
        run: |
          cd build
          cpack -G ZIP -C Release

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: build/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}